ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #d4c1d3;
  display: flex;
}
ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #afb1da;
}
ul li a.active {
  background-color: #afb1da;
}
.nav-bar {
  padding-top: 0;
  width: 100%;
  float: left;
}
body {
  background-color: #f3e7e4;
  color: black;
  margin: 0;
  padding: 0;
}
.mc {
  border: 1px;
  border-style: solid;
  overflow: auto;
}
section {
  border: 1px;
  border-style: solid;
  overflow: hidden;
}
body h1,
h2,
p,
small {
  padding-left: 10px;
}
.schools h1 {
  margin-bottom: -10px;
}
.schools h1,
p,
address,
h3 {
  padding-left: 10px;
  padding-top: 20px;
}
.schools img {
  height: auto;
  width: 50vw;
  display: block;
  border-left: 5px;
  border-style: solid;
}
.grad-uncc,
.uncc,
.mitty {
  display: flex;
  align-items: flex-start;
  border-right: 3px;
  border-bottom: 1px;
  border-style: solid;
}
.uncc-text,
.grad-text,
.mitty-text {
  flex: 1;
}
.awards h1 {
  padding-top: 20px;
}
.awards p:nth-child(3) {
  padding-bottom: 20px;
}
/*--------------------------------------------*/

/* Timeline code was learned from CodingDesign "Simple Interactive Timeline Using Vanilla Javascript" */
:root {
  --primary-color: rgb(136, 63, 136);
}
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  /* font-family: ; */
}
.timeline-wrapper::-webkit-scrollbar {
  display: none;
}

.timeline-wrapper {
  position: relative;
  max-width: 100vw;
  height: 88vh;

  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: auto;
}

.timeline {
  position: absolute;
  height: 0.12rem;
  padding: 0 4rem;
  background-color: black; /*border of the timeline*/
  list-style-type: none;

  --scale: 1;

  display: flex;
}
.timeline li {
  /*adjusts the dots on the timeline */
  position: relative;
  width: 30rem;
  background-color: black;
}
.timeline li::before,
.timeline li:after,
.timeline li .title,
.info {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
  transition: 0.5s ease;
}
.timeline li::before {
  top: 1rem;

  display: inline-block;
  width: 0.12rem;
  height: 1rem;
  background-color: pink;
}
.timeline li:nth-child(even)::before {
  top: -1rem;
}

.timeline li:hover::before {
  background-color: var(--var-color);
}

.timeline li::after {
  content: attr(data-semester);
  top: -3.4rem;
}
.timeline li:nth-child(odd)::after {
  top: 3.4rem;
}

.timeline li:hover:after,
.timeline li .title {
  color: var(--primary-color);
}
.timeline li .title {
  top: 2.4rem;

  font: 600 1.1rem "poppins", sans-serif;
  white-space: pre;

  opacity: 0;
}

.timeline li:nth-child(odd) > .title {
  top: -2.4rem;
}
.timeline li:hover .title {
  opacity: 1;
}
.info {
  width: 1.3rem;
  height: 1.3rem;
  background-color: black;
  color: white;
  border-radius: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  overflow: hidden;
  transition: 1s ease;
}

.timeline li:hover .info {
  background-color: var(--primary-color);
  --scale: 1.2;
  cursor: pointer;
  z-index: 100;
}

.info.show {
  width: 25rem;
  height: 25rem;
  border-radius: 1rem;
  padding: 1rem;
  background-image: linear-gradient(45deg, var(--primary-color), #afb1da);

  box-shadow: 0 0.1rem 0.4rem #0004;
  overflow-y: scroll;
  z-index: 100;
}

.info h3 {
  text-transform: capitalize;
}

.info p {
  background-color: #fff3;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 1rem;

  margin-left: 0.7rem;
}

.info.show p {
  margin-left: 0;
}

.info .close {
  align-self: flex-start;
  background-color: skyblue;

  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  font-size: 1rem;
}
