ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #d4c1d3;
  display: flex;
}
ul li a {
  display: block;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
}
ul li a:hover {
  background-color: #afb1da;
}
ul li a.active {
  background-color: #afb1da;
}
.nav-bar {
  padding-top: 0;
  width: 100%;
  float: left;
}
body {
  background-color: #f3e7e4;
  color: black;
  margin: 0;
  padding: 0;
}
.mc {
  border: 1px;
  border-style: solid;
  overflow: auto;
}
body h1,
h2,
h3,
p,
small {
  padding-left: 10px;
}
section {
  border: 1px;
  border-style: solid;
  overflow: hidden;
}
.work-photo img {
  height: 100px;
  width: 100px;
}
