body h1,
h2,
h3,
p,
small {
  padding-left: 10px;
}
.intro-photo img {
  height: 200px;
  width: 200px;
  display: block;
  float: right;
}
.other-jobs {
  background-color: #d4c1d3;
}
.other-jobs-info {
  display: flex;
  background-color: #f3e7e4;
}
.intro {
  display: grid;
  grid-template-columns: auto, auto;
}
