/* Portfolio CSS */
.current-proj,
.past-proj {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5vw;
  justify-items: start;
}
.port-block0 {
  width: 33vw;
  height: 60vh;
  border-radius: 1rem;
  background-image: linear-gradient(45deg, pink, #afb1da);
  border-left: 2px;
  border-top: 2px;
  border-style: solid;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
.current-proj > .port-block0:nth-child(odd),
.past-proj > .port-block0:nth-child(odd) {
  margin-left: 10px;
}
.current-proj > .port-block0:nth-child(even),
.past-proj > .port-block0:nth-child(even) {
  justify-self: end;
  margin-left: 0;
  margin-right: 10px;
}
.port-block0:hover {
  transform: scale(1.05);
}
