/* Portfolio CSS */
.current-proj,
.past-proj {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5vw;
  justify-items: start;
}
.port-block0 {
  width: 33vw;
  height: 60vh;
  border-radius: 1rem;
  background-image: linear-gradient(45deg, pink, #afb1da);
  border-left: 2px;
  border-top: 2px;
  border-style: solid;
  transition: transform 0.3s ease;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}
.port-block0 h4 {
  margin: 10px;
}
.current-proj > .port-block0:nth-child(odd),
.past-proj > .port-block0:nth-child(odd) {
  margin-left: 10px;
}
.current-proj > .port-block0:nth-child(even),
.past-proj > .port-block0:nth-child(even) {
  justify-self: end;
  margin-left: 0;
  margin-right: 10px;
}
.port-block0:hover {
  transform: scale(1.05);
}
button {
  background-color: #fff3;
  color: black;
  border: 2px solid #0003;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  text-decoration: none;
  display: inline-block;
  margin: 8px 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.port-block0 h2 {
  border-bottom: 1px;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-style: solid;
  margin-top: 0px;
  padding-top: 5px;
  background-color: #fff3;
}
